<% unless logged_in? %>
  <div class ="row">
    <div class="large-11 large-centered columns">
      <br>
      <p>Keeping your Twitter feed well-trimmed is an essential part of a balanced Information Diet!
        <br>
        Log in now to begin trimming.</p>
      <a href="/auth/twitter" class="button"><%= "Log in via Twitter" %></a>
    </div>
  </div>
<% else %>
  <div class ="row">
    <div class="large-11 large-centered columns">
      <br>
      <p>Keeping your Twitter feed well-trimmed is an essential part of a balanced Information Diet!
        <br>
        Out of the last 200 tweets in your feed, here are the most... <i>prolific</i> tweeters.
        <br>
        Consider muting or unfollowing some of them to increase your background signal:noise ratio.
        <br>
        If you reconsider, <%= link_to('here', 'https://twitter.com/settings/muted_following') %> is the list of accounts you have muted.</p>
      <% @display_list.each do |u| %>
        <% if u[:tweet_count] > 3 %>
          <% percent = ((u[:tweet_count] / 200.0) * 100).round %>
          <div class ="row">
            <div class="small-<%= 3 + ((percent/1.8).round) %> columns">
              <div class="panel">
                <p style="font-size:<%= 16 + ((1.7 * u[:tweet_count]).round) %>px"><b><%= percent %>%</b>
                  <%= link_to("@#{u[:user_screen_name]}",
                              "http://www.twitter.com/#{u[:user_screen_name]}/",
                              html_options = {title: "#{u[:user_name]}"}) %>
                </p>
                <div class="button-bar">
                  <ul class="button-group">
                    <li><%= button_to('Mute',
                                      options = { :action => 'mute_friend',
                                                  :params => { :friend_name => u[:user_screen_name] }},
                                      html_options = {class: 'small button'}) %> </li>
                  </ul>
                  <ul class="button-group">

                    <li><%= button_to('Unfollow',
                                      options = { :action => 'unfollow_friend',
                                                  :params => { :friend_name => u[:user_screen_name] }},
                                      html_options = {class: 'small button'}) %></li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
