<% unless logged_in? %>
  <br>
  <p>Keeping your Twitter feed well-trimmed is an essential part of a balanced Information Diet!
    <br>
    Log in now to begin trimming.</p>
  <a href="/auth/twitter" class="button expand"><%= "Log in via Twitter" %></a>
<% else %>
  <div class ="row">
    <div class="large-12 columns">
      <br>
      <p>Keeping your Twitter feed well-trimmed is an essential part of a balanced Information Diet!
        <br>
        Out of the last 200 tweets in your feed, here are the most... <i>prolific</i> tweeters.
        <br>
        Consider muting or unfollowing some of them to increase your background signal:noise ratio.
        <br>
        If you reconsider, <%= link_to("here", "https://twitter.com/settings/muted_following") %> is the list of accounts you have muted.</p>
      <% @display_list.each do |u| %>
        <% if u[:tweet_count] > 2 %>
          <div class="panel">
            <p style="font-size:<%= 16 + ((1.5 * u[:tweet_count]).round) %>px"><%= ((u[:tweet_count] / 200.0) * 100).round %>%
              <%= link_to("@#{u[:user_screen_name]}",
                          "http://www.twitter.com/#{u[:user_screen_name]}/",
                          html_options = {title: "#{u[:user_name]}"}) %>
              <!--<span style="font-size:16px">(<%#= u[:tweet_count] %> tweets)</span>-->
            </p>

            <ul class="button-group">
              <li><%= button_to("Mute",
                                options = { :action => "mute_friend",
                                            :params => { :friend_name => u[:user_screen_name] }},
                                html_options = {class: "button"}) %> </li>
              <li><%= button_to("Unfollow",
                                options = { :action => "unfollow_friend",
                                            :params => { :friend_name => u[:user_screen_name] }},
                                html_options = {class: "button"}) %></li>
            </ul>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
