<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title><%= content_for?(:title) ? yield(:title) : "Trimmer" %></title>

  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= csrf_meta_tags %>
</head>

<body>

<nav class="top-bar" data-topbar role="navigation">

  <ul class="title-area">
    <li class="name">
      <h1><a href="#">Trimmer</a></h1>
    </li>

  <section class="top-bar-section">
    <!-- Right Nav Section -->
    <% if @current_user %>
    <ul class="right">
      <li class="active"><a href="#"><%= @current_user.name %></a></li>
    </ul>
    <% end %>
  </section>
  </ul>
</nav>
<%= yield %>
<%= javascript_include_tag "application" %>

</body>
</html>
